{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/anchor-is-valid": ["error", { "components": ["Link"], "specialLink": [], "aspects": ["invalidHref", "preferButton"] }],
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved" : "off",
    "import/extensions": "off",
    "react/prop-types": "off",
    "max-len": [2, { "code": 200 }],
    "indent": [2, 2, { "SwitchCase": 1 }],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "comma-dangle": [1, "always-multiline"],
    "object-curly-newline": ["error", { "minProperties": 5, "consistent": true }]
  },
  "plugins": [
    "react"
  ]
}
